<a href="https://colab.research.google.com/github/nikhil1029/Nikhil_INFO5502_Spring2022/blob/main/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#To count the number of characters in a string

import collections
string=collections.Counter(input(""))
d={}
for key,value in string.items():
    d[key]=value
print(d)

nikhilkumar reddy
{'n': 1, 'i': 2, 'k': 2, 'h': 1, 'l': 1, 'u': 1, 'm': 1, 'a': 1, 'r': 2, ' ': 1, 'e': 1, 'd': 2, 'y': 1}

In [32]:
#To sum all the items in the list

l=0
Sum=0
n=int(input("Enter the elements in the list:") )#number of elements in list
for i in range(n):
    l=int(input()) #input list
    Sum=Sum+l  #sum of the elements in the list
print(Sum)

Enter the elements in the list:4
4
6
7
8
25

In [28]:
#changing of a character to '$' when repeated in a string of the first char
string=input("Enter the string value:")
for i in range(len(string)):
    for j in range(i+1,len(string)):
        if(string[i]==string[j]):
            string=string[:j]+'$'+string[j+1:]
print(string)

Enter the string value:nikhil
nikh$l

In [27]:
#Calculating two parameters 
a=int(input("Enter value of a:"))
b=int(input("Enter value of b:"))
S=3.14*pow(1+a/b,3)
print (S)

Enter value of a:1
Enter value of b:2
10.5975

In [16]:
#concatenation of dictionaries
d1={1:10,2:20}
d2={3:30,4:40}
d3={5:50,6:60}
d4={}
d4.update(d1)
d4.update(d2)
d4.update(d3)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [25]:
#Checking whether elements exist in tuple or not
tuple1=input('Enter elements in tuples:')
find=input()
if find in tuple1:
    print(find, " exists in tuple")
else:
    print(find, "does not exists in tuple")

Enter elements in tuples:12345
4
4  exists in tuple

In [17]:
#maximum and minimum number in a set
S={9,0,4,3,2,5}
print("minimum value in a set is", min(S))
print("maximium value in a set is", max(S))

minimum value in a set is 0
maximium value in a set is 9

In [12]:
# Duplicate elements
l=[1,2,3,4,5]
r=[]
for i in range(0,len(l)):
    for j in range(i+1,len(l)):
        if(l[i]==l[j]):
            if l[j] not in r:
                r.append(l[j])
if(r!=[]):
    print(r)
else:
    print("-1") #if no duplicate elements then print -1

-1

In [16]:
#to select all sundays of a specific year
from datetime import date
import calendar
year=int(input()) # input for year 
c=calendar.TextCalendar(calendar.SUNDAY)
for i in range(1,13):
    for j in c.itermonthdays(year,i):
        if j!=0:
            day=date(year,i,j)
            if day.weekday()==6:
                print("%d-%d-%d" % (j,i,year ))
    print("---------------")

2020
5-1-2020
12-1-2020
19-1-2020
26-1-2020
---------------
2-2-2020
9-2-2020
16-2-2020
23-2-2020
---------------
1-3-2020
8-3-2020
15-3-2020
22-3-2020
29-3-2020
---------------
5-4-2020
12-4-2020
19-4-2020
26-4-2020
---------------
3-5-2020
10-5-2020
17-5-2020
24-5-2020
31-5-2020
---------------
7-6-2020
14-6-2020
21-6-2020
28-6-2020
---------------
5-7-2020
12-7-2020
19-7-2020
26-7-2020
---------------
2-8-2020
9-8-2020
16-8-2020
23-8-2020
30-8-2020
---------------
6-9-2020
13-9-2020
20-9-2020
27-9-2020
---------------
4-10-2020
11-10-2020
18-10-2020
25-10-2020
---------------
1-11-2020
8-11-2020
15-11-2020
22-11-2020
29-11-2020
---------------
6-12-2020
13-12-2020
20-12-2020
27-12-2020
---------------