<a href="https://colab.research.google.com/github/nikhil1029/Nikhil_INFO5502_Spring2022/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python program to generate random numbers between 1 to 100
import random
ass=[]
des=[]
average=0
for i in range(0,12):
    n=random.randint(1,100)
    ass.append(n)
    des.append(n)
    average+=n
ass.sort()
des.sort(reverse=True)
average=average/12
print(ass)
print(des)

[3, 21, 44, 50, 51, 57, 67, 69, 77, 78, 83, 85]
[85, 83, 78, 77, 69, 67, 57, 51, 50, 44, 21, 3]

In [ ]:
import re
import collections
import operator
str1=input("enter string1: ")
str2=input("enter string2: ")
s1=re.findall(r'\w+|[^\s\w]+', str1)
print("list of string1: ",s1)
s2=re.findall(r'\w+|[^\s\w]+', str2)
print("list of string2: ",s2)
s3=[]
for i in s1:
    for j in s2:
        if i==j or i.lower()==j or j.lower()==i:
            s3.append(i)
print("common words in a string: ",s3)
print("String1 after removing punctuations : ", re.sub(r'[^\w\s]', '', str1))
print("String2 after removing punctuations : ", re.sub(r'[^\w\s]', '', str2))
string=str1+str2
counts={}
for vowel in "aeiou":
    count = string.count(vowel)
    counts[vowel] = count
print(dict(sorted(counts.items(), key=operator.itemgetter(1),reverse=True)))

enter string1: Python is good programming language
enter string2: Data science students need python ! as a core subject
list of string1:  ['Python', 'is', 'good', 'programming', 'language']
list of string2:  ['Data', 'science', 'students', 'need', 'python', '!', 'as', 'a', 'core', 'subject']
common words in a string:  ['Python']
String1 after removing punctuations :  Python is good programming language
String2 after removing punctuations :  Data science students need python  as a core subject
{'e': 8, 'a': 7, 'o': 6, 'i': 3, 'u': 3}

In [ ]:
#Program to calculate value of V 
r=float(input(""))
pi=22/7
print("r"+" "*3+"V")
for i in range(1,11):
    v=float(4.0/3.0*pi*i**3)
    print(i,""*3,v)

1
r   V
1  4.19047619047619
2  33.52380952380952
3  113.14285714285712
4  268.19047619047615
5  523.8095238095237
6  905.142857142857
7  1437.333333333333
8  2145.523809523809
9  3054.857142857142
10  4190.47619047619

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/nikhil1029/Nikhil_INFO5502_Spring2022/main/lab_assignment_02_denton_housing%20(1).csv")
print("Difference between occupied houses for every consecutive years")
df['value'][df.title_field =="Occupied Housing Units"].diff()
#print("percentage of vacant and occupied houses")
#df['Vacant Housing Units'] =df['value'][df.title_field=="Vacant Housing Units"]
#print(df['Vacant Housing Units'])

Difference between occupied houses for every consecutive years

2        NaN
5    -2622.0
8    -1565.0
11   -1404.0
14     303.0
17   -5091.0
20     795.0
Name: value, dtype: float64

In [ ]:
import math
Value1=0.0
Total=0.0
df=df.reset_index(drop=True)
for year in range(2008,2015):
    x=df[(df['year'] == year) & (df['title_field'] == 'Vacant Housing Units')]['value'].values[0]
    y=df[(df['year'] == year) & (df['title_field'] == 'Occupied Housing Units')]['value'].values[0]
    Total=df[(df['year'] == year) & (df['title_field'] == 'Total Housing Units')]['value'].values[0] 
    Vac_Percentage=round((x/Total)*100)
    Occ_Percentage=round((y/Total)*100)
    print(year,str(Vac_Percentage)+'%','',str(Occ_Percentage)+'%')

2008 11%  89%
2009 9%  91%
2010 8%  92%
2011 9%  91%
2012 7%  93%
2013 9%  91%
2014 6%  94%

In [12]:
print('                    ','Year','Value')
for i in ('Vacant Housing Units','Occupied Housing Units'):
    a=df[(df['title_field'] == i)]['value'].max()
    b=df[(df['title_field'] == i)]['year'].max()
    print(i,b,a)

                     Year Value
Vacant Housing Units 2014 4483
Occupied Housing Units 2014 46295

In [13]:
import pandas as pd
from scipy import stats
import statistics
df = pd.read_csv("https://raw.githubusercontent.com/nikhil1029/Nikhil_INFO5502_Spring2022/main/lab_assignment_02_denton_housing%20(1).csv")
print("Harmonic mean for total house units")
print(stats.hmean(df['value'][df.title_field =="Total Housing Units"]))

Harmonic mean for total house units
44398.28543969185