<a href="https://colab.research.google.com/github/nikhil1029/Nikhil_INFO5502_Spring2022/blob/main/INFO_5502_Mid_term_Exam_Spring2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### INFO 5502 Mid-term Exam (03/10/2022, 80 points in total)

In [5]:
import numpy as np
from datascience import *

/usr/local/lib/python3.7/dist-packages/datascience/tables.py:17: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)
/usr/local/lib/python3.7/dist-packages/datascience/util.py:10: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)

<span style='background:yellow'>**Question 1 (5 pt).**</span> Make an array called `weird_numbers` containing the following numbers (in the given order):

1. -3
2. the sine of 2.1
3. 5
4. 4 to the power of the cosine of 4.2

*Hint:* `sin` and `cos` are functions in the `math` module.

In [1]:
#### You code here

import math as n

weird_numbers=[]
weird_numbers.append(-3)
weird_numbers.append(n.sin(2.1))
weird_numbers.append(5)
weird_numbers.append(pow(4,n.cos(4.2)))

 # printing the numbers in array
print('The elements in array are')
print(weird_numbers)

The elements in array are
[-3, 0.8632093666488737, 5, 0.5067964617539602]

<span style='background:yellow'>**Question 2 (5 pt).**</span> Write a simple function that takes in a number (weight in pounds) and returns a number which is the coreesponding conversion to kg.

Test it by calling the function on 15 and 27. E.g., `convert_pounds_to_kg(15)`, `convert_pounds_to_kg(27)`. Print both to screen.

Hint: 1 pound = 0.453592 kg

In [2]:
#### You code here

def convert_pounds_to_kg(number):
    """Converts a number in pounds to kg."""
    kilograms = number * 0.453592
    return kilograms
    
    
print(convert_pounds_to_kg(15))
print(convert_pounds_to_kg(27))

6.8038799999999995
12.246984

<span style='background:yellow'>**Question 3 (5 pt).**</span> We've loaded an array of temperatures in the next cell.  Each number is the highest temperature observed on a day at a climate observation station, mostly from the US.  Since they're from the US government agency [NOAA](noaa.gov), all the temperatures are in Fahrenheit.  Convert them all to Celsius by first subtracting 32 from them, then multiplying the results by $\frac{5}{9}$. Make sure to **ROUND** the final result after converting to Celsius to the nearest integer using the `np.round` function. Download the data from here: https://github.com/unt-iialab/info5502-spring2022/blob/main/datasets/temperatures.csv

In [6]:
#### You code here

max_temperatures = Table.read_table("temperatures.csv").column("Daily Max Temperature")

celsius_max_temperatures = np.round ((max_temperatures - 32) * 5/9)

celsius_max_temperatures

array([-4., 31., 32., ..., 17., 23., 16.])

<span style='background:yellow'>**Question 4 (5 pt).**</span> Suppose you have 4 apples, 3 oranges, and 3 pineapples.  (Perhaps you're using Python to solve a high school Algebra problem.)  Create a table that contains this information.  It should have two columns: `fruit name` and `count`.  Assign the new table to the variable `fruits`.

**Note:** Use lower-case and singular words for the name of each fruit, like `"apple"`.

In [7]:
#### You code here


import pandas as pd
table = {"fruit name" : ["apples","oranges","pineapples"] , "count": ["4","3","3"]}
fruits = pd.DataFrame(table)
fruits

   fruit name count
0      apples     4
1     oranges     3
2  pineapples     3

<span style='background:yellow'>**Question 5 (10 pt).**</span> Below we load a table containing 200,000 weekday Uber rides in the Boston, Massachusetts metropolitan area from the [Uber Movement](https://movement.uber.com) project. The `sourceid` and `dstid` columns contain codes corresponding to start and end locations of each ride. The `hod` column contains codes corresponding to the hour of the day the ride took place. The `ride time` column contains the length of the ride, in minutes. Produce a histogram of all ride times in Boston using the given bins. Download the data from here: https://github.com/unt-iialab/info5502-spring2022/blob/main/datasets/boston.csv

In [64]:
#### You code here

#b=Table.read_table('/content/boston.csv')
#b.show(8)

In [65]:
#import matplotlib
#import matplotlib.pyplot as plt
##ridetime = [11.866, 17.7993, 19.3488, 1.7235, 42.5588, 26.4212, 23.7743,36.3583,16.6407,17.3533]
##range = (0,10)
#equal_bins =np.arange(0,120,5)
#plt.hist(boston.column('ride time'),equal_bins)

In [66]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("/content/boston.csv")
data.head()
bins = list(set(data['hod'].values))
print(bins)
plt.rcParams['figure.figsize'] = [6, 5]
plt.hist(data['ride time'], bins = bins, edgecolor="yellow", color="green")
plt.xlabel("Ride Duration across bins")
plt.title("Histogram of Ride Time with hod as bins")
plt.show()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

<span style='background:yellow'>**Question 6 (20 pt).**</span> Below is a dataset we collected from this website: https://ddr.densho.org/narrators/?page=1. Narrators are the interview subjects of oral histories contained in the Densho Digital Repository. The interviewees, or narrators, share their life histories to preserve history, educate the public, and promote tolerance. We urge our users to approach these materials in the same spirit. You are required to conduct the exploratory data analysis on the location, year of born, generation, and gender. Please select the best visualiztions to present your results. Download the data from here: https://github.com/unt-iialab/info5502-spring2022/blob/main/datasets/Combined-data.xlsx

In [81]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [87]:
#### You code here
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sns

ca = pd.read_excel(r"/content/Combined-data.xlsx")
ca

                  Narrator    Location    Year Generation  Gender
0             Kay Aiko Abe  Washington  1927.0      Nisei  female
1                  Art Abe  Washington  1921.0      Nisei    male
2    Sharon Tanagi Aburano  Washington  1925.0      Nisei  female
3          Toshiko Aiboshi  California  1928.0      Nisei  female
4               Yae Aihara  Washington  1925.0      Nisei  female
..                     ...         ...     ...        ...     ...
899      George M. Yoshino  Washington  1921.0      Nisei    male
900             John Young  California  1923.0   American    male
901            Sharon Yuen  Washington  1945.0     Sansei  female
902              Lois Yuki         NaN  1944.0      Nisei  female
903            Aaron Zajic    Maryland     NaN        NaN     NaN

[904 rows x 5 columns]

In [93]:
ca = ca[pd.notnull(ca['Year'])]
# type casting the data type of Year column to integer
ca['Year'] = ca['Year'].astype('int64').astype('str')
plot.rcParams['figure.figsize'] = [30, 15]
ax = sns.countplot(x='Year', data=ca)
plot.xlabel("Year")
plot.ylabel("Count")
plot.xticks(rotation=90)
plot.show()

ca = ca[pd.notnull(ca['Location'])]
plot.rcParams['figure.figsize'] = [30, 15]
ax = sns.countplot(x='Location', data=ca)
plot.xlabel("Location")
plot.ylabel("Count")
plot.xticks(rotation=90)
plot.show()




ca = ca[pd.notnull(ca['Gender'])]
plot.rcParams['figure.figsize'] = [5, 5]
ax = sns.countplot(x='Gender', data=ca)
plot.xlabel("Gender")
plot.ylabel("Count")
plot.xticks(rotation=90)
plot.show()

NameError: ignored

<span style='background:yellow'>**Question 7.**</span> **Monkeys Typing Shakespeare** A monkey is banging repeatedly on the keys of a typewriter. Each time, the monkey is equally likely to hit any of the 26 lowercase letters of the English alphabet, 26 uppercase letters of the English alphabet, and any number between 0-9 (inclusive), regardless of what it has hit before. There are no other keys on the keyboard.  

This question is inspired by a mathematical theorem called the Infinite monkey theorem (<https://en.wikipedia.org/wiki/Infinite_monkey_theorem>), which postulates that if you put a monkey in the situation described above for an infinite time, they will eventually type out all of Shakespeare’s works.

<span style='background:yellow'>**Question 7-1 (10 pt).**</span> Suppose the monkey hits the keyboard 5 times.  Compute the chance that the monkey types the sequence `Data8`.  (Call this `data_chance`.) Use algebra and type in an arithmetic equation that Python can evalute.

In [41]:
#### You code here

data_chance=(1/64)**5
print(data_chance)

9.313225746154785e-10

<span style='background:yellow'>**Question 7-2 (10 pt).**</span> Write a function called `simulate_key_strike`.  It should take **no arguments**, and it should return a random one-character string that is equally likely to be any of the 26 lower-case English letters, 26 upper-case English letters, or any number between 0-9 (inclusive).

In [9]:
#### You code here

import string
keys = list(string.ascii_lowercase + string.ascii_uppercase + string.digits)

def simulate_key_strike(): 
    """Simulates one random key strike."""
    return np.random.choice(keys) 

simulate_key_strike()

'b'

<span style='background:yellow'>**Question 7-3 (10 pt).**</span> Write a function called `simulate_several_key_strikes`.  It should take one argument: an integer specifying the number of key strikes to simulate. It should return a string containing that many characters, each one obtained from simulating a key strike by the monkey.

*Hint:* If you make a list or array of the simulated key strikes called `key_strikes_array`, you can convert that to a string by calling `"".join(key_strikes_array)`

In [ ]:
#### You code here

#### You code here
def simulate_several_key_strikes(num_strikes): 
    key_strikes_array = np.random.choice(keys,num_strikes) 
    stringee = "".join(key_strikes_array) 
    return stringee 

simulate_several_key_strikes(3)